<nav class="navbar navbar-expand-lg fixed-top bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="../../assets/resumMy.pdf" target="_blank">RESUME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-list"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="">Home</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../projects">Projects</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../education">Education</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../about">About</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../contact">Contact</a></li>
    </ul>
  </div>
</div>
</nav>


<div class="container text-center" style="margin-top: 65px;margin-bottom: 50px;">
  <div class="row">
    <div class="col-12 col-sm-12 mt-5"><h3>Education</h3></div>
  </div>
  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 bg-success">
            <div class="card-body cc-education-header">
              <h3>B.E.</h3>
              <h5>[ 2018 ]</h5>
            </div>
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
             <h4>Electronics & Telecommunication</h4>
             <h5>R.T.M. Nagpur University</h5>
             <h5>Bapurao Deshmukh College Of Engineering, Sewagram (Wardha)</h5>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>
  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 bg-success">
            <div class="card-body cc-education-header">
              <h3>HSC</h3>
              <h5>[ 2013 ]</h5>
            </div>
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
             <h4>General Science </h4>
             <h5>Maharashtra State Board</h5>
             <h5>Deepchand Choudhari Junior College,Seloo (Wardha)</h5>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>
  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 bg-success">
            <div class="card-body cc-education-header">
              <h3>SSC</h3>
              <h5>[ 2011 ]</h5>
            </div>
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
             <h5>Maharashtra State Board</h5>
             <h5>Deepchand Choudhari Vidyalaya,Seloo (Wardha)</h5>
          </div>
        </div>
      </div>
      </div>    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>
  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 bg-success">
            <div class="card-body cc-education-header">
              <h4>Front End Development</h4>
            </div>
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
             <h5>Angular 7/8</h5>
             <h5>Seed Infotech Pvt. Ltd. Nashik</h5>
          </div>
        </div>
      </div>
      </div>    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>
</div>


<div class="navbar fixed-bottom justify-content-center" style="background-color: rgb(231, 230, 230); padding-right: 30px;">
  <a href="#" class="fa fa-github fa-2x" title="See my Github repositories" href="https://github.com/SurajK23" target="_blank"></a>
  <a href="#" class="fa fa-facebook fa-2x ml-3" title="Follow me on Facebook" href="https://m.facebook.com/?_rdr" target="_blank"></a>
  <a href="#" class="fa fa-instagram fa-2x ml-3" title="Follow me on Instagram" href="https://www.instagram.com/23_suraj.dk/" target="_blank"></a>
  <a href="#" class="fa fa-linkedin fa-2x ml-3" title="Connect with me on linkedin" href="https://www.linkedin.com/in/SurajK2312" target="_blank"></a>   
</div>
