<nav class="navbar navbar-expand-lg fixed-top bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="../../assets/resumMy.pdf" target="_blank">RESUME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-list"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="">Home</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../projects">Projects</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../education">Education</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../about">About</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../contact">Contact</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="container text-center" style="margin-top: 65px;margin-bottom: 50px;">
  <div class="row">
    <div class="col-12 col-sm-12 mt-5"><h3>Projects</h3></div>
  </div>
  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 bg-success">
            <div class="card-body cc-education-header">
              <h3>Visitor Entry System</h3>
              <h5>( Internship Project )</h5>
            </div>
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
              <div class="row">
                <div class="col s-12"><b>Description:</b> A software operated  by security on gate of school to 	maintain the entries of visitors digitally, that helps to enhance 	accuracy and security.</div>
                <div class="row">
                <div class="col s-5"><b>Role:</b> Intern Angular Developer.</div>
                <div class="col s-7"><b>Company Name:</b> Intellinects Ventures pvt.ltd.</div>
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>
  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 bg-success">
            <div class="card-body cc-education-header">
              <h3>Kitchen Cost Calculator</h3>
              <!-- <h5>( Internship Project )</h5> -->
            </div>
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
              <div class="row">
                <div class="col s-12"><b>Description:</b>This is client side app developed in Angular 8 for the customer to estimate the cost for his old kitchen modification or for building the new kitchen design.<br></div>
                <!-- <div class="row">
                <div class="col s-5"><b>Role:</b> Intern Angular Developer.</div>
                <div class="col s-7"><b>Company Name:</b> Intellinects Ventures pvt.ltd.</div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 bg-success">
            <div class="card-body cc-education-header">
              <h3>Military Surveillance Robot</h3>
              <h5>( Academic Project )</h5>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body bg-light">
              <div class="row">
                <div class="col s-12"><b>Description:</b> A four wheel robot outfitted with several sensors, a camera, zigbee
                  module, gun mechanism etc. to perform random or programmed operation on
                  border. It alert's soldier, when it detect movement in unauthorized area able to
                  take action on them. It play's important role to reduce risk and workload on
                  soldier and help to save their live.</div>
                <!-- <div class="row">
                <div class="col s-5"><b>Role:</b> Intern Angular Developer.</div>
                <div class="col s-7"><b>Company Name:</b> Intellinects Ventures pvt.ltd.</div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>
  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 bg-success">
            <div class="card-body cc-education-header">
              <h3>Library Monitoring System</h3>
              <h5>( Academic Project )</h5>
            </div>
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
              <div class="row">
                <div class="col s-12"><b>Description:</b> A simple clap-on-clap-off circuit mechanism is used here. If someone
                  makes noise, so librarian can able to take strict action on particular that
                  student/person.</div>
                <!-- <div class="row">
                <div class="col s-5"><b>Role:</b> Intern Angular Developer.</div>
                <div class="col s-7"><b>Company Name:</b> Intellinects Ventures pvt.ltd.</div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>
</div>





<div class="navbar fixed-bottom justify-content-center" style="background-color: rgb(231, 230, 230);padding-right: 30px;">
  <a href="#" class="fa fa-github fa-2x" title="See my Github repositories" href="https://github.com/SurajK23" target="_blank"></a>
  <a href="#" class="fa fa-facebook fa-2x ml-3" title="Follow me on Facebook" href="https://m.facebook.com/?_rdr" target="_blank"></a>
  <a href="#" class="fa fa-instagram fa-2x ml-3" title="Follow me on Instagram" href="https://www.instagram.com/23_suraj.dk/" target="_blank"></a>
  <a href="#" class="fa fa-linkedin fa-2x ml-3" title="Connect with me on linkedin" href="https://www.linkedin.com/in/SurajK2312" target="_blank"></a>   
</div>
