<nav class="navbar navbar-expand-lg fixed-top bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="../../assets/resumMy.pdf" target="_blank">RESUME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-list"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="">Home</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../projects">Projects</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../education">Education</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../about">About</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="../contact">Contact</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="container text-center" style="margin-top: 65px;margin-bottom: 70px;">
  <div class="row">
    <div class="col-12 col-sm-12 mt-5"><h3>Contact Me</h3></div>
  </div>
  <div class="row">
    <div class="col-0 col-sm-2 mt-3"></div>
    <div class="col-12 col-sm-8 mt-3">
      <div class="card-body bg-light">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 mt-3">
              <h5><i class="fa fa-address-card"></i>&nbsp; Current Address </h5>
              1, Pushpak Park, Near Nehru Nagar Bus-stop, Nashik Road, Nashik. 422101.
            </div>
            <div class="col-12 col-sm-6 mt-3">
              <h5><i class="fa fa-address-card"></i>&nbsp; Permanent Address </h5>
              "OM NIKHILAM", Bhagat Lay-Out, Seloo, TQ. Seloo, Dist. Wardha (M.S.) 442104.
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 mt-3">
              <h5><i class="fa fa-mobile"></i>&nbsp; Mobile </h5>+91-9890977089
            </div>
            <div class="col-12 col-sm-6 mt-3">
              <h5><i class="fa fa-envelope"></i>&nbsp; Email </h5>suraj.khadse2312@gmail.com
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 mt-3">
              <a href="#" class="fa fa-github fa-2x" title="See My Github Repositories" href="https://github.com/SurajK23" target="_blank"></a>
              <h6>See My Github Repositories </h6>
            </div>
            <div class="col-12 col-sm-6 mt-3">
              <a href="#" class="fa fa-facebook fa-2x" title="Follow me on Facebook" href="https://m.facebook.com/?_rdr" target="_blank"></a>
              <h6>Follow Me On Facebook </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 mt-3">
              <a href="#" class="fa fa-instagram fa-2x" title="Follow me on Instagram" href="https://www.instagram.com/23_suraj.dk/" target="_blank"></a>
              <h6>Follow Me On Instagram </h6>
            </div>
            <div class="col-12 col-sm-6 mt-3">
              <a href="#" class="fa fa-linkedin fa-2x" title="Connect With Me On linkedin" href="https://www.linkedin.com/in/SurajK2312" target="_blank"></a>
              <h6>Connect With Me On linkedin </h6>   
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 mt-3"></div>
  </div>
 
</div>

<div class="navbar justify-content-end fixed-bottom" style="background-color: rgb(231, 230, 230);height: 40px;">
      <p class="text-muted">Thanks for visiting my site...</p>
</div>
