<nav class="navbar navbar-expand-lg fixed-top bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="../../assets/resumMy.pdf" target="_blank">RESUME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-list"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="">Home</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="projects">Projects</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="education">Education</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="about">About</a></li>
      <li class="nav-item"><a class="nav-link smooth-scroll" routerLink="contact">Contact</a></li>
    </ul>
  </div>
</div>
</nav>

<!-- <div style="background-image: url('../assets/images/theme1.jpg');"></div> -->
<div class="container text-center" style="margin-top: 65px;margin-bottom: 50px;">
  <div class="row">
    <div class="col-0 col-sm-3 mt-5"></div>
    <div class="col-12 col-sm-6 mt-5 text-center">
      <img class="img-responsive mb-2" src="../../assets/images/profile.jpg" style="width: 200px;height:220px">
      <h2>SURAJ DILIPRAO KHADSE</h2>
      <h4>FRONTEND /WEB /ANGULAR DEVELOPER</h4>
    </div>
    <div class="col-0 col-sm-3 mt-5"></div>


  </div>
  <div class="row">
    <div class="col-0 col-sm-3 mt-2"></div>
    <div class="col-12 col-sm-3 mt-2">
     <a href="../../assets/Experience Letter - Suraj Khadse (1).pdf" ><button type="button" class="btn btn-primary btn-lg btn-block mr-1 mb-1">Internship Docket</button></a>
    </div>
    <div class="col-12 col-sm-3 mt-2">
      <a href="../../assets/Seed_certificates.pdf.pdf"><button type="button" class="btn btn-primary btn-lg btn-block ml-1 mb-1">Seed Certificate</button></a>
    </div>
    <div class="col-0 col-sm-3 mt-2"></div>
  </div>

</div>
<div class="navbar fixed-bottom justify-content-center" style="background-color: rgb(231, 230, 230);padding-right: 30px;">
  <a href="#" class="fa fa-github fa-2x" title="See my Github repositories" href="https://github.com/SurajK23" target="_blank"></a>
  <a href="#" class="fa fa-facebook fa-2x ml-3" title="Follow me on Facebook" href="https://m.facebook.com/?_rdr" target="_blank"></a>
  <a href="#" class="fa fa-instagram fa-2x ml-3" title="Follow me on Instagram" href="https://www.instagram.com/23_suraj.dk/" target="_blank"></a>
  <a href="#" class="fa fa-linkedin fa-2x ml-3" title="Connect with  me on linkedin" href="https://www.linkedin.com/in/SurajK2312" target="_blank"></a>   
</div>


